<% include partials/header %>
<div class="ui main text container">
	<div id="header" style="font-family: ANDALE MONO;" class="ui huge header">(blog);</div>
	<div class="ui top attatched segment">
		<div class="ui divided items">
			<% blogs.forEach(function(blog){ %>
		<div class="item">
				<div class="image">
					<img src="<%= blog.image %>">
				</div>
				<div class="content">
					<a id="codeFont" class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
				<div class="meta">
					<span id="codeFont"><%= blog.created.toDateString() %></span>
				</div>
				<div class="description">
					<p><%- blog.body.substring(0,110) %>...</p>
				</div>
				<div class="extra">
					<a id="codeFont" href="/blogs/<%= blog._id %>" class="ui floated basic violet button">
							Read More
							<i class="right chevron icon"></i>
					</a>
				</div>
			</div>
		</div>
			<% }); %>
		</div>
	</div>
</div>
<% include partials/footer %>